@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   //// CSS RESETS ////

   *,
   *::before,
   *::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
   }

   picture {
      display: block;
      max-width: 100%;
   }

   a {
      text-decoration: none;
   }

   button {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
   }

   input,
   button,
   textarea,
   select {
      font: inherit;
   }

   small {
      display: block;
      font-size: 0.875rem;
   }

   q {
      quotes: none;
      display: block;
      font-size: 0.75rem;
   }
}


:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
   // colors
   --color-main: 26 21 60;
   // fonts
   --text-regular: 'nunitosans regular';
   --text-semibold: 'nunitosans semibold';
   --text-extrabold: 'nunitosans extrabold';
}

#root {
   font-family: var(--text-regular);
}